<div id="<%= dom_id film %>">
  <p>
    <strong>Name:</strong>
    <%= film.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= film.description %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= film.years_of_creation %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= film.director %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= film.duration %>
  </p>
  <p>
    <strong>Genres:</strong>
    <%= film.genres %>
  </p>

</div>